<ng-container *ngIf="!editing">
  <span>{{dictionaryValue.display}}</span>
  <span flex></span>
  <span class="button-group">
    <button mat-raised-button
            color="primary"
            class="button-small"
            (click)="onEdit()">
      Edit
    </button>
    <button mat-raised-button
            color="warn"
            class="button-small"
            (click)="onDelete()">
      Delete
    </button>
  </span>
</ng-container>
<ng-container *ngIf="editing">
  <form [formGroup]="valueForm" (ngSubmit)="onSave()" novalidate>
    <mat-form-field [appearance]="(configuration$ | async)?.inputAppearance">
      <mat-label>Display</mat-label>
      <input matInput required
             name="display"
             formControlName="display">
    </mat-form-field>

    <mat-form-field [appearance]="(configuration$ | async)?.inputAppearance">
      <mat-label>Meaning</mat-label>
      <input matInput required
             name="meaning"
             formControlName="meaning">
    </mat-form-field>

    <span class="button-group">
      <button mat-raised-button
              color="primary"
              class="button-small"
              [disabled]="valueForm.invalid || valueForm.pristine"
              (click)="onSave()">
        Save
      </button>
      <button mat-raised-button
              class="button-small"
              (click)="onCancel()">
        Cancel
      </button>
    </span>
  </form>
</ng-container>
