:host {
  display: flex;
  flex-direction: row;

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      cgt-input {
        flex-grow: 1;
        margin-right: 1rem;
      }
    }

    .button-row {
      display: flex;
      justify-content: flex-end;

      button {
        margin-right: 1rem;
      }
    }
  }
}
