<h4>DICTIONARIES</h4>
<mat-accordion>
  <mat-expansion-panel *ngFor="let dictionary of dictionaries | async"
                       (opened)="onExpandDictionary(dictionary.meaning)">
    <mat-expansion-panel-header>
      <mat-panel-title>{{dictionary.display}}</mat-panel-title>
    </mat-expansion-panel-header>

    <swkroa-dictionary-detail [dictionaryMeaning]="dictionary.meaning"
                              [expanded]="expandedMeaning === dictionary.meaning">
    </swkroa-dictionary-detail>
  </mat-expansion-panel>
</mat-accordion>
