<mat-accordion displayMode="flat">
  <mat-expansion-panel *ngFor="let value of dictionaryValues">
    <mat-expansion-panel-header>
      <mat-panel-title>{{value.display}}</mat-panel-title>
    </mat-expansion-panel-header>

    <swkroa-dictionary-value [dictionaryMeaning]="dictionaryMeaning"
                             [dictionaryValue]="value"
                             [editing]="editing"
                             (created)="onCreated($event)"
                             (deleted)="onDeleted($event)"
                             (updated)="onUpdated($event)">
    </swkroa-dictionary-value>
  </mat-expansion-panel>
</mat-accordion>
