<h4>Users</h4>
<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users$ | async"
                       [expanded]="!user.userId">
    <mat-expansion-panel-header>
      <ng-container *ngIf="!user.userId">New User</ng-container>
      <ng-container *ngIf="user.userId">
        {{user.person | cgtPersonFormatter}}&nbsp;&nbsp;
        <span class="text-muted">( {{user.username}} )</span>
      </ng-container>
    </mat-expansion-panel-header>

    <swkroa-user-detail [user]="user">
    </swkroa-user-detail>
  </mat-expansion-panel>

  <mat-action-row *ngIf="(viewStatus$ | async) === VIEW_STATUS.View">
    <button mat-button color="accent" (click)="onAddUser()">
      Add User
    </button>
  </mat-action-row>
</mat-accordion>
