:host {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 30rem;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    mat-error {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;

    button {
      margin-bottom: 1rem;
    }
  }
}
