<form [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
      novalidate>
  <mat-card [attr.role]="'form'">
    <mat-card-header>
      <mat-card-title>Welcome to SWKROA</mat-card-title>
      <mat-card-subtitle>Please Login</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-error *ngIf="error">
        <ng-container [ngSwitch]="error">
          <ng-container *ngSwitchCase="AUTH_STATUS.STATUS_DISABLED">
            Your account has been disabled!
          </ng-container>
          <ng-container *ngSwitchCase="AUTH_STATUS.STATUS_EXPIRED">
            Your account has expired!
          </ng-container>
          <ng-container *ngSwitchCase="AUTH_STATUS.STATUS_LOCKED">
            Your account is locked!
          </ng-container>
          <ng-container *ngSwitchDefault>
            Please enter a valid username and password.
            If you do not remember your username or password, please contact your Administrator.
          </ng-container>
        </ng-container>
      </mat-error>

      <cgt-input id="username"
                 name="username"
                 label="Username"
                 [editing]="true"
                 [autofocus]="true"
                 [required]="true"
                 requiredErrorMessage="A username is required."
                 autocomplete="username"
                 formControlName="username">
      </cgt-input>

      <cgt-input id="password"
                 name="password"
                 label="Password"
                 type="password"
                 [editing]="true"
                 [required]="true"
                 requiredErrorMessage="A password is required."
                 autocomplete="current-password"
                 formControlName="password">
      </cgt-input>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" [disabled]="loginForm.invalid || processing">
        <mat-spinner [diameter]="24" *ngIf="processing"></mat-spinner>
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
