<form [formGroup]="formGroup" novalidate>
  <mat-divider [inset]="true"></mat-divider>
  <div class="row">
    <cgt-input id="display"
               name="display"
               label="Display"
               [required]="true"
               [editing]="editing"
               formControlName="display">
    </cgt-input>

    <cgt-input id="meaning"
               name="meaning"
               label="Meaning"
               [required]="true"
               [editing]="editing && !dictionaryValue.dictionaryValueId"
               formControlName="meaning">
    </cgt-input>
  </div>

  <div class="button-row">
    <ng-container *ngIf="!editing && (viewStatus$ | async) === VIEW_STATUS.View">
      <button type="button"
              mat-raised-button
              color="primary"
              (click)="onEdit()">
        Edit
      </button>
      <button type="button"
              mat-raised-button
              (click)="onDelete()">
        Delete
      </button>
    </ng-container>

    <ng-container *ngIf="editing">
      <button type="button"
              mat-raised-button
              color="primary"
              [disabled]="formGroup.invalid || formGroup.pristine"
              (click)="onSave()">
        Save
      </button>
      <button type="button"
              mat-button
              (click)="onCancel()">
        Cancel
      </button>
    </ng-container>
  </div>
</form>
